# npm
#---------------------------------------------------------
**/node_modules/**
package-lock.json

# my files
#---------------------------------------------------------
*.backup
*.env
*.log
*.rest

# my directories
#---------------------------------------------------------
**/backup/**
**/certificate/**

